<!DOCTYPE html>
<html>
<head>
  <title>Timewatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
  <script src="bootstrap-editable/js/bootstrap-editable.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
